html,
body {
    margin: 0;
    padding: 0;
}
/* HEADER */
header {
    border: 2px solid black;
}
/* MAIN */
main {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.pvp {
    border: 2px solid red;
    padding: 10px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.stats {
    padding: 10px;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    column-gap: 12px;
}

.pvp > div {
    border: 2px solid green;
}

.player1,
.player2,
.stat {
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner {
    border: 2px solid mediumslateblue;
    display: flex;
    justify-content: space-around;
}
/*PLAYERS CATALOG*/
.player-catalog {
    border: 2px solid black;
}

.search-bar {
    border: 2px solid darkorange;
    display: flex;
    justify-content: space-around;
}

.player-card {
    border: 2px solid darkmagenta;
    padding: 8px;
    width: max-content;
}
